#pyinstaller==6.0.0
Flask==3.0.0
flask_cors==4.0.0
#openpyxl==3.1.2
#PyExecJS==1.5.1
#PyQtWebEngine==5.15.6
#pywin32==304
#pypdf==3.17.1
#pandas==2.1.4
#PyPDF2==1.26.0
#PyMuPDF
#pytesseract==0.3.10
#Pillow==9.0.1
openpyxl