
#----------------------------------------------------------
#Nome do Script: script.cfg
#Exemplo de configuração
#
#Autor: Fabiano Rocha
#Data de Criação: 15 de Outubro de 2024
#Versão: 1.0
#----------------------------------------------------------


ftp_user="myuser" 						    # Nome do usuario FTP
ftp_pass="mypass" 						    # Senha do usuario FTP
name_user="userlnx" 						# Nome do usuario linux onde será instalada a aplicação
name_host="vmlinuxd" 						# Nome do servidor linux Host onde será instalada a aplicação
app_port=8000 								# Porta HTTP para uso dsa aplicação
app_port_ftp=2121							# Porta FTP para uso dsa aplicação
app_port_ssh=2222                           # Porta SSH para uso dsa aplicação
appcontainer="putsourcehere_py"				# Conteúdo da Pasta principal da aplicação
app_source=../putsourcehere_py/ 			# Conteúdo da Pasta principal da aplicação
app_name="script_docker_py" 				# Nome da Aplicação
cur_dir="$PWD" #$HOME 						# Diretorio corrente 
app_dir="$cur_dir/$app_name" 				# Diretorio base de instalação da aplicação
nginx_conf="nginx.conf" 					# Configuração do nginx
docker_compose_file="docker-compose.yml" 	# Configuração do orquestrador do docker
containerhost="shared_folder_container" 	# Pasta do host que receberá o compartilhamento externado
containerfolder="app/uploads"				# Paste de dentro do container para externar compartilhamento
params_containers="nginx app"               # Parametros pra iniciar parcialmente os serviços do docker "nginx app db"

# Montando o array
vars_config=("name_user" "name_host" "app_port" "app_port_ftp" "appcontainer" "app_source" "app_name" "cur_dir" "app_dir" "nginx_conf" "docker_compose_file" "containerhost" "containerfolder" "params_containers")
config=("$name_user" "$name_host" "$app_port" "$app_port_ftp" "$appcontainer" "$app_source" "$app_name" "$cur_dir" "$app_dir" "$nginx_conf" "$docker_compose_file" "$containerhost" "$containerfolder" "$params_containers")
