<html>
<head>
	<script src="{{ url_for('static', filename='js/cfg_js.js') }}"></script>
	<script src="{{ url_for('static', filename='js/lib_js.js') }}"></script>
	<!-- Link para o CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Teste de GET</title>
	<style>			
	</style>	
</head>
<body>
     <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('index2') }}">Page 2</a></li>
            <li><a href="{{ url_for('index3') }}">Page 3</a></li>
        </ul>
    </nav>    </nav>
	<button onclick="fazerGET()">json teste</button>
	<button onclick="fazerGETb()">String Simple</button>        
    <button onclick="fazerGETc()">Replace xlsx</button>        
	<button onclick="fazerGETd()">Add xlsx</button>        
	<button onclick="extraipdfs()">Extraipdfs</button>        
	<ul class="tree">
		<li>
			<label for="calc">Calculo trabalhista</label>
			<input type="checkbox" id="calc">
			<ul >
				<li>	
					<label for="FasedeConhecimento">Fase de Conhecimento</label>
					<input type="checkbox" id="FasedeConhecimento">
					<ul>				
						<li>
							<label for="peticaoInicial">Petição Inicial</label>
							<!--<input type="checkbox" id="peticaoInicial"> -->
						</li>
						<li>
							<label for="contestacao">Contestação</label>
							<input type="checkbox" id="contestacao">
							<ul>
								<li>Audiência Inicial</li>
								<li>Produção de Provas</li>
								<li>
									<label for="Sentenca">Sentença</label>
									<input type="checkbox" id="Sentenca">
									<ul>
										<li>
											<label for="RecursosnaFasedeConhecimento">Recursos na Fase de Conhecimento:</label>
											<input type="checkbox" id="RecursosnaFasedeConhecimento">
											<ul>
												<li>Recurso de Revista</li>
												<li>Agravo de Instrumento</li>
												<li>Embargos de Declaração</li>
											</ul>
										</li>
										<li>Impugnar cálculos - Sentença</li>
										<li>
											<label for="LiquidarSentenca">Liquidar Sentença:</label>
											<input type="checkbox" id="LiquidarSentenca">									
											<ul>
												<li>Liquidar Embargos da Sentença</li>
												<li>Impugnar cálculos - Sentença</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>Atualizar Cálculos</li>
								<li>Readequação de Cálculos</li>
								<li>Cálculo Previdenciário</li>
								<li>Saldo Remanescentes</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<label for="recursos">Recursos</label>
					<input type="checkbox" id="recursos">
					<ul>
						<li>					
							<label for="RecursosnaFasedeConhecimento">Recursos na Fase de Conhecimento:</label>
							<input type="checkbox" id="RecursosnaFasedeConhecimento">										
							<ul>
								<li>Recurso de Revista</li>
								<li>Agravo de Instrumento</li>
								<li>Embargos de Declaração</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<label for="faseExecucao">Fase de Execução:</label>
					<input type="checkbox" id="faseExecucao">
					<ul>
						<li>
							<label for="execucao">Execução</label>
							<input type="checkbox" id="execucao">
							<ul>
								<li>							
									<label for="RecursosnaFasedeExecucao">Recursos na Fase de Execução:</label>
									<input type="checkbox" id="RecursosnaFasedeExecucao">								
									<ul>
										<li>Agravo de Petição</li>
										<li>Embargos à Execução</li>
										<li>Recurso de Revista na Execução</li>
									</ul>
								</li>
								<li>Impugnar cálculos - Embargos à Execução</li>
								<li>Impugnar cálculos - Agravo de Petição</li>
								<li>
									<label for="liquidarExecucao">Liquidar Execução</label>
									<input type="checkbox" id="liquidarExecucao">
									<ul>
										<li>Liquidar Embargos à Execução</li>
										<li>Impugnar cálculos - Embargos à Execução</li>
									</ul>
								</li>
								<li>Atualizar Cálculos</li>
								<li>Readequação de Cálculos</li>
								<li>Cálculo Previdenciário</li>
								<li>Saldo Remanescentes</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<label for="Recursos">Recursos</label>
					<input type="checkbox" id="Recursos">								
					<ul>
						<li>
							<label for="RecursosnaFasedeExecucao2">Recursos na Fase de Execução2:</label>
							<input type="checkbox" id="RecursosnaFasedeExecucao2">					
							<ul>
								<li>Agravo de Petição</li>
								<li>Embargos à Execução</li>
								<li>Recurso de Revista na Execução</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<button id="btcollapse" onclick="expandirTudo()">Expandir Tudo</button>

</body>
</html>

<script>
	function expandirTudo() {
		var checkboxes = document.querySelectorAll('.tree input[type="checkbox"]');
		checkboxes.forEach(function(checkbox) {
			checkbox.checked = ! checkbox.checked;
		});
		if (btcollapse.innerText == "Expandir Tudo") {
			btcollapse.innerText ="Reduzir Tudo" 
		}else{
			btcollapse.innerText ="Expandir Tudo";
		}
	}
</script>
